{% extends 'base.html.twig' %}

{% block title %}Lobby — {{ game.code }}{% endblock %}

{% block body %}
{{ turbo_stream_from('game/' ~ game.code ~ '/players') }}
{{ turbo_stream_from('game/' ~ game.code ~ '/phase') }}

<div class="lobby-page">
    <header class="lobby-header">
        <div>
            <h1>Salle d'attente</h1>
        </div>
        <div style="text-align: right;">
            <div class="info-label">Code de partie</div>
            <div class="game-code">{{ game.code }}</div>
        </div>
    </header>

    <div id="lobby-main">
        {% include 'lobby/turbo/_lobby_main.html.twig' with {game: game} %}
    </div>
</div>
{% endblock %}
